.row
  .span6
    %h1 Anmelden
    = form_tag sessions_path do
      %p
        = label_tag :Login
        %br/
        = text_field_tag :username, params[:username]
      %p
        = label_tag :password
        %br/
        = password_field_tag :password
      %p
        = check_box_tag :remember_me, 1, params[:remember_me]
        %br
        = label_tag :remember_me, 'Angemeldet bleiben'
      %p= submit_tag "Anmelden"
.row-fluid
  .span-6
Hast du dein Passwort
= link_to 'vergessen?', new_password_reset_path
