= form_for(@user) do |f|
  .field
    = f.label :email
    = @user.email
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
    = hidden_field_tag :token, @token
  .actions
    = f.submit