%h1 Neues Spiel Erstellen
= form_for(@game) do |f|
  - if @game.errors.any?
    #error_explanation
      %h2
        = pluralize(@game.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg
  = f.label :Spielname
  = f.text_field :name
  .date
    = f.label :Start
    = f.datetime_select "starttime"
    = f.label :Ende
    = f.datetime_select "endtime"
  .circles
    =f.label :Kreise
    =f.number_field "circle_count", min: 1
  =hidden_field :gamemaster, value: current_user
  =hidden_field :status, value: "open"
  =f.label :Tweeten?
  =f.check_box "tweet"
  .actions
    = f.submit "Abschicken"